* {
  margin: 0 ;
  padding: 0;
}
body {
  font-family: Microsoft YaHei, Segoe UI, Tahoma, Arial, Verdana, sans-serif;
  font-size: 14px;
  color: #000000;
  border: none;
  background-color: #F6F6F6;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  list-style: none;
}
.clear {
  clear: both;
}
.head {
  width: 100%;
  background-color: #FF8833;
}
.head .head-text {
  width: 90%;
  margin: 0 auto;
  padding: 3% 0;
}
.head .head-text .icon-arrow_lift {
  float: left;
  color: #ffffff;
  font-size: 18px;
}
.head .head-text p {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}
.content {
  width: 100%;
}
.content .content-2 {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5%;
}
.content .content-2 .text-1 {
  text-align: center;
  display: block;
  font-size: 18px;
  padding: 5% 0 0 0;
}
.content .content-2 .video-content {
  border-radius: 6px;
  border: 1px solid #D6D6D6;
  padding: 4% 0;
  background-color: #ffffff;
}
.content .content-2 .video-content .video-style {
  width: 90%;
  height: 200px;
  margin: 0 auto;
}
.content .content-2 .text-2 {
  width: 100%;
  text-indent: 2em;
  font-size: 15px;
  line-height: 25px;
  color: #757575;
  margin: 0 auto;
  padding: 3% 0;
}
.content .content-2 .text-3 {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  color: #757575;
  margin: 0 auto;
  padding: 3% 0;
}
.content .content-2 .tab {
  padding-bottom: 5%;
}
.content .content-2 .tab p {
  text-align: center;
  font-size: 18px;
  padding-bottom: 3%;
}
.content .content-2 .tab p span {
  color: #6D6D6D;
}
.content .content-2 .tab .tab-1 {
  border-radius: 6px 6px 0 0;
  background-color: #ffffff;
  padding: 3%;
  border: 1px solid #D6D6D6;
  font-size: 15px;
}
.content .content-2 .tab .tab-2 {
  border-radius: 0 0 6px 6px;
  background-color: #ffffff;
  padding: 3%;
  border-bottom: 1px solid #D6D6D6;
  border-left: 1px solid #D6D6D6;
  border-right: 1px solid #D6D6D6;
  font-size: 15px;
  color: #757575;
}
.content .content-2 .tab .tab-2 span {
  color: red;
}
.content .content-2 .tab .tab-2 .kg {
  padding: 0 5%;
}
